data/*
!data/README.md
!data/.gitkeep

outputs/checkpoints/*
!outputs/checkpoints/.gitkeep
outputs/submissions/*
!outputs/submissions/.gitkeep
outputs/*.npy
outputs/*.npz

*.pt
*.pth
*.ckpt
*.onnx
*.log

__pycache__/
.ipynb_checkpoints/
.venv/
venv/
